button { border-radius: 0px; }

input, button, select, optgroup, textarea { margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { appearance: button; }

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) { cursor: pointer; }

::-webkit-inner-spin-button { height: auto; }

::-webkit-search-decoration { appearance: none; }

::-webkit-color-swatch-wrapper { padding: 0px; }

::file-selector-button { font: inherit; appearance: button; }

.list-group { --bs-list-group-color: var(--bs-body-color); --bs-list-group-bg: var(--bs-body-bg); --bs-list-group-border-color: var(--bs-border-color); --bs-list-group-border-width: var(--bs-border-width); --bs-list-group-border-radius: var(--bs-border-radius); --bs-list-group-item-padding-x: 1rem; --bs-list-group-item-padding-y: 0.5rem; --bs-list-group-action-color: var(--bs-secondary-color); --bs-list-group-action-hover-color: var(--bs-emphasis-color); --bs-list-group-action-hover-bg: var(--bs-tertiary-bg); --bs-list-group-action-active-color: var(--bs-body-color); --bs-list-group-action-active-bg: var(--bs-secondary-bg); --bs-list-group-disabled-color: var(--bs-secondary-color); --bs-list-group-disabled-bg: var(--bs-body-bg); --bs-list-group-active-color: #fff; --bs-list-group-active-bg: #0d6efd; --bs-list-group-active-border-color: #0d6efd; display: flex; flex-direction: column; padding-left: 0px; margin-bottom: 0px; border-radius: var(--bs-list-group-border-radius); }

.list-group-item { position: relative; display: block; padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x); color: var(--bs-list-group-color); text-decoration: none; background-color: var(--bs-list-group-bg); border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); }

.list-group-item:first-child { border-top-left-radius: inherit; border-top-right-radius: inherit; }

.list-group-item:last-child { border-bottom-right-radius: inherit; border-bottom-left-radius: inherit; }

.list-group-item.disabled, .list-group-item:disabled { color: var(--bs-list-group-disabled-color); pointer-events: none; background-color: var(--bs-list-group-disabled-bg); }

.list-group-item.active { z-index: 2; color: var(--bs-list-group-active-color); background-color: var(--bs-list-group-active-bg); border-color: var(--bs-list-group-active-border-color); }

.list-group-item + .list-group-item { border-top-width: 0px; }

.list-group-item + .list-group-item.active { margin-top: calc(-1 * var(--bs-list-group-border-width)); border-top-width: var(--bs-list-group-border-width); }

.list-group-item-action { width: 100%; color: var(--bs-list-group-action-color); text-align: inherit; }

.ref-label { font-size: 0.75rem; color: var(--bs-secondary-color); margin-bottom: 0.25rem; }

.list-group-grid { display: grid; grid-template-columns: repeat(var(--list-group-grid-columns, 3), 1fr); gap: var(--bs-list-group-border-width); padding: var(--bs-list-group-border-width); background-color: var(--bs-list-group-border-color); border-radius: var(--bs-list-group-border-radius); }

.list-group-grid .list-group-item { border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; border-radius: 0px; }

.list-group-grid .list-group-item:first-child { border-top-left-radius: calc(var(--bs-list-group-border-radius) - var(--bs-list-group-border-width)); }

.list-group-grid .list-group-item:nth-child(3) { border-top-right-radius: calc(var(--bs-list-group-border-radius) - var(--bs-list-group-border-width)); }

.list-group-grid .list-group-item:nth-last-child(3) { border-bottom-left-radius: calc(var(--bs-list-group-border-radius) - var(--bs-list-group-border-width)); }

.list-group-grid .list-group-item:last-child { border-bottom-right-radius: calc(var(--bs-list-group-border-radius) - var(--bs-list-group-border-width)); }

.ref-listbox-grid-specimen { max-width: 480px; }