p { margin-top: 0px; margin-bottom: 1rem; }

ol, ul { padding-left: 2rem; }

ol, ul, dl { margin-top: 0px; margin-bottom: 1rem; }

b, strong { font-weight: bolder; }

a { color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)); text-decoration: underline; }

::-webkit-inner-spin-button { height: auto; }

::-webkit-search-decoration { appearance: none; }

::-webkit-color-swatch-wrapper { padding: 0px; }

::file-selector-button { font: inherit; appearance: button; }

.nav { --bs-nav-link-padding-x: 1rem; --bs-nav-link-padding-y: 0.5rem; --bs-nav-link-font-weight: ; --bs-nav-link-color: var(--bs-link-color); --bs-nav-link-hover-color: var(--bs-link-hover-color); --bs-nav-link-disabled-color: var(--bs-secondary-color); display: flex; flex-wrap: wrap; padding-left: 0px; margin-bottom: 0px; list-style: none; }

.nav-link { display: block; padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x); font-size: var(--bs-nav-link-font-size); font-weight: var(--bs-nav-link-font-weight); color: var(--bs-nav-link-color); text-decoration: none; background: none; border: 0px; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

.nav-link { transition: none; }

.nav-link.disabled, .nav-link:disabled { color: var(--bs-nav-link-disabled-color); pointer-events: none; cursor: default; }

.nav-underline { --bs-nav-underline-gap: 1rem; --bs-nav-underline-border-width: 0.125rem; --bs-nav-underline-link-active-color: var(--bs-emphasis-color); gap: var(--bs-nav-underline-gap); }

.nav-underline .nav-link { padding-right: 0px; padding-left: 0px; border-bottom: var(--bs-nav-underline-border-width) solid transparent; }

.nav-underline .nav-link.active, .nav-underline .show > .nav-link { font-weight: 700; color: var(--bs-nav-underline-link-active-color); border-bottom-color: currentcolor; }

.ref-label { font-size: 0.75rem; color: var(--bs-secondary-color); margin-bottom: 0.25rem; }

.ref-tab-panel { display: block; padding: 1rem 0px; color: var(--bs-body-color); }

.ref-tabs-vertical { display: flex; gap: 1.5rem; }

.ref-tabs-vertical .nav-underline { flex-direction: column; gap: 0px; border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; flex-shrink: 0; min-width: 120px; }

.ref-tabs-vertical .nav-underline .nav-link { border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; border-right: var(--bs-nav-underline-border-width, 0.125rem) solid transparent; padding-right: 1rem; white-space: nowrap; }

.ref-tabs-vertical .nav-underline .nav-link.active, .ref-tabs-vertical .nav-underline .nav-link.faux-active { border-right-color: currentcolor; border-bottom-color: transparent; }

.ref-tabs-vertical .ref-tab-content { flex: 1 1 0%; }