label { display: inline-block; }

input, button, select, optgroup, textarea { margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }

::-webkit-inner-spin-button { height: auto; }

::-webkit-search-decoration { appearance: none; }

::-webkit-color-swatch-wrapper { padding: 0px; }

::file-selector-button { font: inherit; appearance: button; }

.form-control { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: var(--bs-body-color); appearance: none; background-color: var(--bs-body-bg); background-clip: padding-box; border: var(--bs-border-width) solid var(--bs-border-color); border-radius: var(--bs-border-radius); transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control { transition: none; }

.form-control::-webkit-date-and-time-value { min-width: 85px; height: 1.5em; margin: 0px; }

.form-control::-webkit-datetime-edit { display: block; padding: 0px; }

.form-control::placeholder { color: var(--bs-secondary-color); opacity: 1; }

.form-control:disabled { background-color: var(--bs-secondary-bg); opacity: 1; }

.form-control::file-selector-button { padding: 0.375rem 0.75rem; margin: -0.375rem -0.75rem; margin-inline-end: 0.75rem; color: var(--bs-body-color); background-color: var(--bs-tertiary-bg); pointer-events: none; border-color: inherit; border-style: solid; border-width: 0px; border-inline-end-width: var(--bs-border-width); border-radius: 0px; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control::file-selector-button { transition: none; }

.form-floating { position: relative; }

.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select { height: calc(3.5rem + calc(var(--bs-border-width) * 2)); min-height: calc(3.5rem + calc(var(--bs-border-width) * 2)); line-height: 1.25; }

.form-floating > label { position: absolute; top: 0px; left: 0px; z-index: 2; max-width: 100%; height: 100%; padding: 1rem 0.75rem; overflow: hidden; color: rgba(var(--bs-body-color-rgb), 0.65); text-align: start; text-overflow: ellipsis; white-space: nowrap; pointer-events: none; border: var(--bs-border-width) solid transparent; transform-origin: 0px 0px; transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out; }

.form-floating > label { transition: none; }

.form-floating > .form-control, .form-floating > .form-control-plaintext { padding: 1rem 0.75rem; }

.form-floating > .form-control::placeholder, .form-floating > .form-control-plaintext::placeholder { color: transparent; }

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown) { padding-top: 1.625rem; padding-bottom: 0.625rem; }

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label { transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); }

.form-floating > :disabled ~ label, .form-floating > .form-control:disabled ~ label { color: rgb(108, 117, 125); }

.ref-label { font-size: 0.75rem; color: var(--bs-secondary-color); margin-bottom: 0.25rem; }

.ref-flex-row { display: flex; flex-wrap: wrap; gap: 1.5rem; align-items: flex-start; }

.form-floating.faux-focused > .form-control { border-color: rgb(134, 183, 254); outline: 0px; box-shadow: rgba(13, 110, 253, 0.25) 0px 0px 0px 0.25rem; padding-top: 1.625rem; padding-bottom: 0.625rem; }

.form-floating.faux-focused > label { transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); }

.ref-textfield-specimen { width: 300px; }